<div>
  <h2 class="p-3 pr-0">My Profile</h2>
</div>
<div>
  <h2 class="p-3 pr-0"><%= "#{current_user.followers.count} #{'Follower'.pluralize(current_user.followers.count)}"%></h2>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :'email:' %>
    <%= f.email_field :email, autofocus: true %>
  </div>
<br />
  <div class="field">
    <%= f.label :password %> <i class="i-light">(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <div class="text-right p-2">
        <em class="i-light"><%= @minimum_password_length %> characters minimum</em>
      </div>

    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :current_password %>
    <div class="margin-push">
      <i class="i-light">(we need your current password to confirm your changes)</i><br />

    </div>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
<br />
  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>
<br />

<div>
  <%=link_to posts_path, class: 'stretch-button btn btn-info' do %>
    <i class="fa fa-angle-left"></i>
    Back to posts
  <% end %>
</div>
<br />
<h4 class="text-center">Delete Your Account? </h4>
<p class="text-center">
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
</p>
