= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .row
      .col-4
        %img{style: 'max-width: 100%;', src: @post.image.image_url }
      .col-8
        #coordinates{data: {latitude: @post.image.coordinates.to_a.first,
                           longitude: @post.image.coordinates.to_a.last}}
        #map-large{ data: { behavior: 'posts-map-new' } }
  %fieldset
    %p
      = f.label :title
      = f.text_field :title, class: 'form-control'
  %fieldset
    %p
      = f.label :description
      = f.text_field :description, class: 'form-control'
  .actions
    = f.submit 'Save'

