= form_for @post do |f|
  %fieldset
    = f.fields_for :image do |ff|
      = ff.hidden_field :image, value: ff.object.cached_image_data
      = ff.file_field :image
  .actions
    = f.submit 'Load Image'
