.index-bar-layout.layout.show-bar.p-0
  .p-0.text-white.post-image
    %img{style: 'width: 384px; height: 250px;', src: "#{post.image.image_url}"}
    .row.post-description
      .col-md-12
        .row.pb-0.mb-0
          .col-md-2
            = link_to posts_path do
              .fa.fa-angle-left.text-white.ml-3.fa-2x
          .col-md-10
            %h5.text-white.p-0.text-left
              = post.title.present? ? post.title : 'Post'
        .row.pt-0.mt-0
          .col-md-6.ml-auto
            by
            = post.user.name
          .col-md-4
            = "#{post.user.followers.count} #{'Follower'.pluralize(post.user.followers.count)}"
  .pl-3
    .row.mt-3
      .col-md-12
        = star_rating
        .mt-3
          %p.info-text
          - if post.description.present?
            = post.description
          - else
            No description available.
          %hr.width-reducer
        .bar-detail= post.created_at
  .pl-3
    .row.mt-3
      .col-md-12
        .actions
          =follower_link(post)
