.index-bar-layout.layout.show-bar.p-0
  .p-0.gradient.text-white
    .row.pt-3.pb-3
      .col-md-12
        .row
          .col-md-12
            .row.pb-0.mb-0
              .col-md-2.text-right
                = link_to posts_path do
                  .fa.fa-angle-left.text-white.ml-3.fa-2x
              .col-md-10
                %h5.text-white.p-0.pull-right
                  = post.title
            .row.pt-0.mt-0
              .col-md-10.ml-auto
                by
                = post.user.name

        .row
          .col-md-12
      .col-md-3.text-center.mt-3
      .col-md-9
  .p-0
    %img{src: 'https://unsplash.it/250'}s
    .bar-detail
      %h5 Details
      %p.info-text= post.description
      %hr
    .bar-detail= post.created_at
    %hr
    .bar-detail
      detail section
